:root {
    --spacing-50: 0.25rem;
    --spacing-100: 0.5rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-700: 3.5rem;
    --spacing-800: 4rem;
    --spacing-900: 4.5rem;
    --spacing-1000: 5rem;
    --spacing-1400: 7rem;

    --cyan-600: #4D96A9;
    --cyan-300: #8FE3F9;
    --purple-600: #855FB1;
    --purple-300: #D9B8FF;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;
    --white: #FAFAFA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Red Hat Display", sans-serif;
}


header {
    padding-top: var(--spacing-500);
    display: flex;
    justify-content: center;
}

header>img {
    height: fit-content;
}

.hero {
    display: grid;
    gap: 3rem;
    place-content: center;
    padding-top: var(--spacing-800);
    padding-bottom: var(--spacing-400);

}

.hero-image--left {
    height: 10rem;
    object-fit: cover;
}

.hero-image--right {
    display: none;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: var(--spacing-300);
    max-width: 19.06rem;
    margin: 0 auto;
}

.hero-title {
    font-size: var(--spacing-500);
    font-weight: 900;
    color: var(--slate-900);
    line-height: 110%;
}

.hero-subtext {
    font-size: var(--spacing-200);
    font-weight: 500;
    color: var(--slate-600);
    line-height: 150%;
}

.button-group {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-300);
}

.button {
    padding: var(--spacing-200) var(--spacing-500);
    border-radius: 29px;
    border: none;
    font-size: var(--spacing-200);
    font-weight: 900;
    color: var(--white);
    font-family: "Red Hat Display", sans-serif;
    line-height: 150%;
}

.button-blue {
    background-color: var(--cyan-600);
}

.button-blue>span {
    color: var(--cyan-300);
}

.button-purple {
    background-color: var(--purple-600);
}

.main-content {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    padding-top: var(--spacing-400);
    padding-bottom: var(--spacing-800);
    max-width: 311px;
    margin: 0 auto;
}

.number-line {
    width: 1px;
    height: 80px;
    background-color: var(--slate-300);
    margin: 0 auto;
}

.number-circle {
    background-color: var(--white);
    width: 56px;
    height: 56px;
    border: 1px solid var(--slate-300);
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    gap: 1rem;
}

.image-grid img {
    height: 144px;
    border-radius: 0.5rem;
}

.main-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 32px;
}

.main-text>div {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.main-text>div>small {
    font-size: 12px;
    font-weight: 900;
    line-height: 110%;
    color: var(--cyan-600);
    text-transform: uppercase;
    letter-spacing: 4px;
}

.main-text>div>h1 {
    font-size: var(--spacing-400);
    font-weight: 900;
    line-height: 110%;
    color: var(--slate-900);
}

.main-text>p {
    font-size: var(--spacing-200);
    font-weight: 500;
    line-height: 150%;
    color: var(--slate-600);
}

.number--translate {
    position: relative;
    top: 25px;
}

.footer-content {
    background-image: url("assets/mobile/image-footer.jpg");
    background-size: cover;
}

.footer-overlay {
    background-color: rgba(77, 151, 169, 0.9);
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: var(--spacing-300);
    text-align: center;
    max-width: 375px;
    margin: 0 auto;
    padding-top: var(--spacing-800);
    padding-bottom: var(--spacing-800);
}

.footer-text>h1 {
    font-size: var(--spacing-400);
    font-weight: 900;
    line-height: 110%;
    color: var(--white);
}

.footer-text>p {
    font-size: var(--spacing-200);
    font-weight: 500;
    line-height: 150%;
    color: var(--white);
}

.button-purple>span {
    color: var(--purple-300);
}


@media (min-width: 768px) {
    .hero {
        padding-top: 4rem;
    }

    .hero-image--left {
        height: 18.93rem;
    }

    .hero-text {
        max-width: 28.01rem;
    }

    .hero-title {
        font-size: 3rem;
    }

    .hero-subtext {
        font-size: 1.12rem;
    }

    .button-group {
        flex-direction: row;
        column-gap: 1.06rem;
    }

    .main-content {
        max-width: 42.5rem;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }

    .image-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }

    .image-grid img {
        height: 10rem;
    }

    .main-text {
        max-width: 31.5rem;
        margin: 0 auto;
    }

    .main-text>div {
        max-width: 27.81rem;
        margin: 0 auto;

    }

    .main-text>div>small {
        font-size: 0.87rem;
    }

    .main-text>div>h1 {
        font-size: 2.25rem;
    }

    .main-text>p {
        font-size: 1rem;
    }

    .footer-content {
        background-image: url("assets/tablet/image-footer.jpg");
    }

    .footer-text {
        max-width: 31.5rem;
    }

    .footer-text>h1 {
        font-size: 2.25rem;
    }
}

@media (min-width: 1440px) {
    header {
        padding-top: var(--spacing-1000);
    }

    .hero {
        max-width: 1440px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 32px;
        grid-template-areas: "img-left hero-text img-right";
        padding-top: 4rem;
    }

    .hero-image--left {
        grid-area: img-left;
        justify-self: self-start;
    }

    .hero-text {
        grid-area: hero-text;
        height: 22.4rem;
        justify-content: center;
    }

    .hero-image--right {
        display: block;
        grid-area: img-right;
        justify-self: self-end;
        align-self: self-end;
    }

    .hero-title {
        font-size: 4rem;
    }

    .main-content {
        max-width: 70rem;
        padding: 3.5rem 0;
    }

    .image-grid {
        gap: 2rem;
    }

    .image-grid img {
        width: 16rem;
        height: 16rem;
    }

    .main-text {
        max-width: 34rem;
    }

    .main-text>div>small {
        font-size: 1rem;
    }

    .main-text>div>h1 {
        font-size: 2.5rem;
    }

    .main-text>p {
        font-size: 1.12rem;
    }

    .footer-content {
        background-image: url("assets/desktop/image-footer.jpg");
    }

    .footer-text {
        max-width: 70rem;
        text-align: left;
        padding: 7rem 0;
        display: grid;
        grid-template-columns: 1fr 22.18rem 16rem;
        column-gap: 2rem;
    }

    .footer-text>h1 {
        font-size: 2.5rem;
    }

    .footer-text>p {
        font-size: 1.12rem;
    }
}